.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-8);
  padding-bottom: var(--spacing-4);
  border-bottom: 3px solid var(--color-text-light);
  color: var(--color-text-light);
}

.site-name {
  max-width: 6ch;
  margin-bottom: 0%;
  color: var(--color-text);
}

.header-link {
  text-decoration: none; 
}
